<h1>Authorize with Git OAuth</h1>
<%=link_to "Authorize with GitHub", "https://github.com/login/oauth/authorize?scope=user&client_id=#{ENV['GH_BASIC_CLIENT_ID']}" %>

Убрать ID клиента при отрисовке формы, вызывать функцию